body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: #333;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

section {
    padding: 40px;
    text-align: center;
}

img {
    border-radius: 10px;
}
